In [12]:
import numpy as np
import pandas as pd
s1 = pd.Series(np.random.randint(1,101,9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1.index.names= ['x','y']

In [13]:
s1['a']
display(s1)

x  y
a  1     38
   2     71
   3     89
b  1     12
   2     38
c  3    100
   1     43
d  2     70
   3     46
dtype: int64

In [17]:
s2 = s1.unstack(level='x')
s2

x     a     b      c     d
y
1  38.0  12.0   43.0   NaN
2  71.0  38.0    NaN  70.0
3  89.0   NaN  100.0  46.0

In [18]:
s2

x     a     b      c     d
y
1  38.0  12.0   43.0   NaN
2  71.0  38.0    NaN  70.0
3  89.0   NaN  100.0  46.0

In [26]:
s3 = s2.stack()
s3

y  x
1  a     38.0
   b     12.0
   c     43.0
2  a     71.0
   b     38.0
   d     70.0
3  a     89.0
   c    100.0
   d     46.0
dtype: float64

In [27]:
s3.swaplevel().sort_index(level='x')

x  y
a  1     38.0
   2     71.0
   3     89.0
b  1     12.0
   2     38.0
c  1     43.0
   3    100.0
d  2     70.0
   3     46.0
dtype: float64

In [31]:
df1 = pd.DataFrame(np.arange(12).reshape(4,3),
                   index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
df1

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [32]:
df1.index.names = ['key1','key2']
df1.columns.names =['縣市','顏色']
df1

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [33]:
df1.swaplevel('key1','key2')

縣市           台北        台中
顏色        Green Red Green
key2 key1
1    a        0   1     2
2    a        3   4     5
1    b        6   7     8
2    b        9  10    11

KeyError: 'Level 顏色 not found'